<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.demo.osp">

    <dist:module dist:instant="true" />

    <!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Regist"></activity>
        <activity android:name=".Login" />
        <activity
            android:name=".SlimpleTextClientActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".VirtualWaitress"
            android:label="@string/title_activity_virtual_waitress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Order_Type" />
        <activity android:name=".Seafood" />
        <activity android:name=".Vegeta" />
        <activity android:name=".Meat" />
        <activity android:name=".Dessert" />
        <activity
            android:name=".Finalize_Order_My"
            android:label="@string/app_name" />
        <activity
            android:name=".thankyou"
            android:label="@string/app_name" />
    </application>

</manifest>